body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}
.heading-1 {
  font-size: 128px;
  font-weight: 900;
}
@media (max-width: 876px) {
  .heading-1 {
    font-size: 64px;
  }
}
.heading-2 {
  font-size: 64px;
}
@media (max-width: 876px) {
  .heading-2 {
    font-size: 32px;
  }
}
.heading-3 {
  font-size: 42px;
  font-weight: 700;
}
@media (max-width: 876px) {
  .heading-3 {
    font-size: 24px;
  }
}
.heading-4 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
}
@media (max-width: 20px) {
  .heading-4 {
    font-size: 22px;
  }
}
.heading-5 {
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 876px) {
  .heading-5 {
    font-size: 20px;
  }
}
.heading-6 {
  font-size: 18px;
  font-weight: 700;
}
.par-1 {
  letter-spacing: 0.5px;
}
.par-2 {
  font-size: 24px;
}
@media (max-width: 868px) {
  .par-2 {
    font-size: 18px;
  }
}
.par-3 {
  font-size: 14px;
}
.label-3 {
  font-size: 20px;
  font-weight: bold;
}
.link {
  color: #000;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 15px;
}
@media (max-width: 876px) {
  .link {
    font-size: 18px;
  }
}
.link:hover {
  color: #000;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
}
.bold-link {
  color: #000;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 700;
}
@media (max-width: 876px) {
  .bold-link {
    font-size: 18px;
  }
}
.bold-link:hover {
  color: #000;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
}
.button-blue {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  background: #6f79ba;
}
.button-blue:hover {
  text-decoration: none;
  color: #fff;
  background: #475295;
}
.header-part-index .nav-row {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  padding: 30px 3%;
  z-index: 1000;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 868px) {
  .header-part-index .nav-row {
    padding: 7.5px 3%;
  }
}
.header-part-index .nav-row .logo img {
  height: 45px;
}
@media (max-width: 576px) {
  .header-part-index .nav-row .logo img {
    height: 20px;
  }
}
@media (min-width: 1262px) {
  .header-part-index .nav-row .menu-btn {
    display: none;
  }
}
.header-part-index .nav-row .nav-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1262px) {
  .header-part-index .nav-row .nav-box {
    display: none;
  }
}
.header-part-index .nav-row .nav-box .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-part-index .nav-row .nav-box .menu ul > li {
  display: inline-block;
}
.header-part-index .nav-row .nav-box .menu ul > li > a {
  display: block;
  padding: 10px 0;
  margin: 0 20px;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.header-part-index .nav-row .nav-box .menu ul > li > a:hover {
  border-bottom: 3px solid #000;
}
.header-part-index .nav-row .nav-box .menu ul > li.active > a {
  border-bottom: 3px solid #000;
}
.header-part-index .nav-row .nav-box .links .labels {
  margin: 0 20px;
}
.header-part-index .nav-row .nav-box .links .labels img {
  height: 60px;
}
.header-part-index .nav-row .nav-box .links .search {
  margin-left: 20px;
  color: #000;
  font-size: 22px;
}
.header-part-index .nav-row .nav-box.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding-top: 25px;
}
.header-part-index .nav-row .nav-box.active .menu {
  display: block;
  margin-bottom: 25px;
}
.header-part-index .nav-row .nav-box.active .menu ul li {
  display: block;
}
.header-part-index .nav-row .nav-box.active .links {
  display: flex;
  flex-direction: column;
}
.header-part-index .nav-row .nav-box.active .links .labels {
  margin-bottom: 25px;
}
.header-part-index .slider-row {
  background: #aeacd6;
  padding-top: 120px;
}
.header-part-index .slider-row .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-part-index .slider-row .col .header-slider {
  padding: 0 10%;
  position: relative;
}
@media (max-width: 868px) {
  .header-part-index .slider-row .col .header-slider {
    padding: 0;
  }
}
.header-part-index .slider-row .col .header-slider .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  padding: 15% 5%;
}
.header-part-index .slider-row .col .header-slider .box .labels {
  margin-bottom: 25px;
  height: 140px;
}
.header-part-index .slider-row .col .header-slider .box .label-pink {
  color: #e25689;
  font-weight: 300;
  font-size: 4rem;
  text-transform: uppercase;
}
.header-part-index .slider-row .col .header-slider .box .label-bottom {
  font-size: 2.5rem;
  font-weight: 400;
}
.header-part-index .slider-row .col .header-slider .slider-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header-part-index .slider-row .col .header-slider .slider-img img {
  height: 80%;
  max-height: 700px;
  max-width: 100%;
  object-fit: scale-down;
}
@media (max-width: 992px) {
  .header-part-index .slider-row .col .header-slider .slider-img img {
    height: auto;
    padding-bottom: 25px;
  }
}
.header-part-index .slider-row .col .header-slider .slick-dots {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 576px) {
  .header-part-index .slider-row .col .header-slider .slick-dots {
    display: none !important;
  }
}
.header-part-index .slider-row .col .header-slider .slick-dots li {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.header-part-index .slider-row .col .header-slider .slick-dots li button {
  background: #fff;
  border: none;
  offset: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: transparent;
  margin: 0 auto;
}
.header-part-index .slider-row .col .header-slider .slick-dots li.slick-active button {
  width: 20px;
  height: 20px;
}
.footer-part-index {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .footer-part-index {
    text-align: center;
  }
}
.footer-part-index .logo {
  display: block;
  margin-bottom: 40px;
}
.footer-part-index .logo img {
  height: 35px;
}
.footer-part-index .label-3 {
  text-transform: uppercase;
}
.footer-part-index .bold-link {
  margin-right: 30px;
}
.footer-part-index .par-1 {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
}
.footer-part-index .instagram-images .thumb {
  display: block;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .footer-part-index .links {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.heading-part-index {
  padding: 100px 0;
}
.heading-part-index .title {
  color: #00aa96;
  margin-bottom: 50px;
}
.heading-part-index .thumb {
  width: 100%;
  margin-bottom: 25px;
}
.who-we-are-part-index {
  padding: 100px 0;
  background: #f0f0f0;
}
.who-we-are-part-index .who-we-are-row .title {
  color: #00abe9;
  margin-bottom: 40px;
}
.who-we-are-part-index .who-we-are-row .text1 {
  line-height: 1;
  margin-bottom: 40px;
}
.who-we-are-part-index .who-we-are-row .text2 {
  margin-bottom: 40px;
}
.who-we-are-part-index .who-we-are-row .link {
  margin-bottom: 25px;
}
.who-we-are-part-index .who-we-are-row .item {
  width: 100%;
  height: 90%;
  min-height: 300px;
  background: rgba(0, 171, 233, 0.8);
}
.what-we-do-part-index {
  padding: 100px 0;
}
.what-we-do-part-index .title {
  color: #69ac3c;
  text-align: center;
  margin-bottom: 50px;
}
.what-we-do-part-index .box {
  position: relative;
  width: 90%;
  padding-top: 90%;
  margin: 0 auto 75px;
}
.what-we-do-part-index .box .item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #c0d77b, #ffffff 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  padding-top: 50px;
  text-align: center;
}
.what-we-do-part-index .box .item .thumb {
  height: 45%;
  padding-bottom: 50px;
  object-fit: cover;
}
.what-we-do-part-index .box .item .heading-4 {
  margin-bottom: 20px;
}
.what-we-do-part-index .box .item .par-1 {
  padding: 0 50px;
  font-size: 20px;
}
.what-we-do-part-index .text-box {
  text-align: center;
}
.what-we-do-part-index .text-box .heading-3 {
  margin-bottom: 40px;
}
.what-we-do-part-index .text-box .par-1 {
  margin-bottom: 40px;
}
.references-part-index {
  background: #f28f6a;
  color: #fff;
  overflow-x: hidden;
}
.references-part-index .box {
  height: 100%;
  padding: 50px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.references-part-index .box .heading-1 {
  font-size: 90px;
  font-weight: 700;
}
@media (max-width: 868px) {
  .references-part-index .box .heading-1 {
    font-size: 48px;
    padding-top: 100px;
  }
}
.references-part-index .box .big-quote {
  position: absolute;
  top: 75px;
  right: 25px;
  font-size: 180px;
}
@media (max-width: 868px) {
  .references-part-index .box .big-quote {
    font-size: 60px;
  }
}
.references-part-index .references-slider {
  height: 100%;
  width: 150%;
}
.references-part-index .references-slider .slick-list,
.references-part-index .references-slider .slick-track {
  height: 100%;
}
.references-part-index .references-slider .slick-track {
  display: flex;
}
.references-part-index .references-slider .slide {
  height: auto;
}
.references-part-index .references-slider .slide .item {
  height: 100%;
  padding: 75px 25px;
  position: relative;
}
.references-part-index .references-slider .slide .item .par-2 {
  margin-bottom: 150px;
}
.references-part-index .references-slider .slide .item .box-author {
  display: flex;
  margin-bottom: 100px;
}
.references-part-index .references-slider .slide .item .box-author .thumb {
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
}
.references-part-index .references-slider .slide .item .box-author .content {
  width: 100%;
  margin-left: 25px;
}
.references-part-index .references-slider .slide .item .box-author .content .author {
  font-weight: bold;
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}
.references-part-index .references-slider .slide .item .box-author .content .company {
  display: block;
  letter-spacing: 1px;
}
.references-part-index .references-slider .slide .item .quote {
  position: absolute;
  bottom: 75px;
  right: 25px;
  font-size: 50px;
}
.references-part-index .references-slider .slide.slick-current .item {
  background: #e94a41;
}
.references-part-index .slick-prev {
  display: none !important;
}
.references-part-index .arrow-right {
  position: absolute;
  top: 0;
  right: -50px;
  width: 35%;
  height: 100%;
  background: transparent;
}
.who-we-are-part-about-us {
  padding: 100px 0;
  background: #f0f0f0;
  background: transparent;
}
.who-we-are-part-about-us .who-we-are-row .title {
  color: #00abe9;
  margin-bottom: 40px;
}
.who-we-are-part-about-us .who-we-are-row .text1 {
  line-height: 1;
  margin-bottom: 40px;
}
.who-we-are-part-about-us .who-we-are-row .text2 {
  margin-bottom: 40px;
}
.who-we-are-part-about-us .who-we-are-row .link {
  margin-bottom: 25px;
}
.who-we-are-part-about-us .who-we-are-row .item {
  width: 100%;
  height: 90%;
  min-height: 300px;
  background: rgba(0, 171, 233, 0.8);
}
.offer-about-us {
  padding: 100px 0;
  background: #f0f0f0;
}
.offer-about-us .who-we-are-row .title {
  color: #00abe9;
  margin-bottom: 40px;
}
.offer-about-us .who-we-are-row .text1 {
  line-height: 1;
  margin-bottom: 40px;
}
.offer-about-us .who-we-are-row .text2 {
  margin-bottom: 40px;
}
.offer-about-us .who-we-are-row .link {
  margin-bottom: 25px;
}
.offer-about-us .who-we-are-row .item {
  width: 100%;
  height: 90%;
  min-height: 300px;
  background: rgba(0, 171, 233, 0.8);
}
.offer-about-us .who-we-are-row .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  text-align: center;
}
.offer-about-us .who-we-are-row .item .thumb {
  margin-bottom: 25px;
}
.offer-about-us .who-we-are-row .item .heading-5 {
  height: 25%;
}
.team-about-us {
  padding: 100px 0;
}
.team-about-us .title {
  text-align: center;
  margin-bottom: 50px;
}
.team-about-us .item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.team-about-us .item .box {
  width: 90%;
  padding-top: 90%;
  position: relative;
  margin-bottom: 40px;
}
.team-about-us .item .box .thumb {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #96cfba;
  border-radius: 50%;
}
.header-offer {
  padding-top: 100px;
  overflow: hidden;
  background: #69ac3c;
}
.header-offer .col .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  mix-blend-mode: multiply;
}
.header-offer .col .container {
  height: 100%;
}
.header-offer .col .container .row {
  height: 100%;
  padding: 75px;
}
.header-offer .col .container .row .circle {
  position: absolute;
  background: linear-gradient(to bottom, #f7d812 35%, transparent 70%);
  width: 500px;
  height: 500px;
  left: -250px;
  top: -250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #69ac3c;
}
.heading-offer {
  margin: 75px 0;
  padding: 75px 50px;
  background: #f0f0f0;
}
@media (max-width: 868px) {
  .heading-offer {
    padding: 50px 25px;
  }
}
.heading-offer .labels {
  margin-bottom: 40px;
}
.heading-offer .heading-3 {
  line-height: 1;
  margin-bottom: 40px;
}
.heading-offer .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heading-offer .box .item {
  display: flex;
  margin-bottom: 75px;
}
@media (max-width: 868px) {
  .heading-offer .box .item {
    flex-wrap: wrap;
  }
  .heading-offer .box .item .thumb {
    margin: 0 auto 15px;
  }
  .heading-offer .box .item .content {
    width: 100%;
  }
}
.heading-offer .box .item:last-of-type {
  margin-bottom: 0;
}
.heading-offer .box .item .thumb {
  max-height: 150px;
  min-width: 200px;
  object-fit: scale-down;
}
.heading-offer .box .item .content {
  width: 100%;
  padding-left: 25px;
}
.products-offer {
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.products-offer .item {
  margin-bottom: 50px;
}
.products-offer .item .box {
  position: relative;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 25px;
  display: block;
}
.products-offer .item .box .thumb {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.products-offer .item .box .info {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 80px;
  height: 80px;
  background: #e94a41;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f28f6a;
  transition: all 0.2s;
}
.products-offer .item .box .info span {
  position: absolute;
  color: #fff;
  font-weight: bold;
}
.products-offer .item .box:hover .info {
  transform: scale(1.15);
}
.products-offer .item .title {
  text-align: center;
}
.sub-page-heading {
  min-height: 100vh;
}
.sub-page-heading .col {
  padding: 0;
  position: relative;
}
.sub-page-heading .col .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sub-page-heading .col .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 171, 233, 0.35);
}
.sub-page-heading .col .content .title {
  margin-bottom: 150px;
}
.projects-index {
  padding: 50px 0;
}
.projects-index.row-1 {
  padding: 170px 0 0;
  background: #f0f0f0;
}
.projects-index.row-2 {
  background: #dddddd;
}
.projects-index .heading-4,
.projects-index .heading-6 {
  margin-bottom: 20px;
}
.projects-index ul {
  list-style: upper-roman;
  padding-left: 15px;
}
.projects-index ol {
  font-size: 14px;
  padding-left: 15px;
}
.projects-index ol li {
  margin-bottom: 10px;
}
.projects-index hr {
  border-width: 2px;
  border-color: #000;
  margin: 35px 0;
}
.projects-index .button-blue {
  margin-bottom: 25px;
}
.projects-index .download-text {
  font-size: 18px;
  font-weight: 300;
  color: #6f79ba;
}
.projects-index .download-link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #6f79ba;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */